body {
    font-family: georgia;
    
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#doc{color:blue;
            font-family:arial;}

#doct{color:red;
            font-family:georgia;}
  #d{color:green;
            font-family:tahoma;}          